/*

Sources:
https://codepen.io/drovosek2703/pen/VwYRZrM (checkbox)
https://codepen.io/swapnet/pen/QWwPVwE (text fields & buttons)

*/

:root {
    --base-color: #ebecf0;
    --shadow-color: #BABECC;
    --highlight-color: white;
    --danger-color: #ed3134;
    --plus-color: #007f1f;
}

* {
    font-family: "Helvetica Neue", sans-serif;
    color: #9296a2;
    font-size: 16px;
}

#todoContainer {
    display: grid;
    grid-column-gap: 0.5em;
    grid-row-gap: 1em;
    grid-template-columns: 3.8em auto 3.8em;
    margin-bottom: 0.5em;
}

.holder {
    margin: 0 3em 0 3em;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

body {
    margin-top: 2em;
    background-color: var(--base-color);
}

main {
    max-width: 40em;
    margin: auto;
    padding: 2em;
    border-radius: 50px;
    background-color: var(--base-color);
    box-shadow: 20px 20px 60px var(--shadow-color), -20px -20px 60px var(--highlight-color);
}

button {
    background: var(--base-color);
    border-radius: 50px;
    border: none;
    box-shadow: -5px -5px 20px var(--highlight-color), 5px 5px 20px var(--shadow-color);
    outline: none;
}

button:hover {
    box-shadow: -2px -2px 5px var(--highlight-color), 2px 2px 5px var(--shadow-color);
}

.action-buttons {
    margin-top: 15px;
}

.action-buttons button {
    position: initial !important;
    margin-right: 15px;
}

#fortune {
    padding: 16px;
    height: 50px;
}

#plus {
    width: 50px;
    height: 50px;
    padding: 10px;
    font-size: 35px;
    line-height: 20px;
    vertical-align: bottom;
    color: var(--plus-color);
}

#todoContainer {
    margin: 25px 0;
}

.delete {
    color: var(--danger-color);
    width: 50px;
    height: 50px;
    font-size: 35px;
}

input[type='text'] {
    border: 0;
    outline: 0;
    border-radius: 320px;
    padding: 16px;
    background-color: var(--base-color);
    text-shadow: 1px 1px 0 var(--highlight-color);
    box-shadow: inset 2px 2px 5px var(--shadow-color), inset -5px -5px 10px var(--highlight-color);
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}

input[type='text']:focus {
    box-shadow: inset 1px 1px 2px var(--shadow-color), inset -1px -1px 2px var(--highlight-color);
}

input[type='checkbox'] {
    margin: 10px 0;
    outline: none;
}

input[type='checkbox'] {
    box-shadow: inset 2px 2px 5px var(--shadow-color), inset -5px -5px 10px var(--highlight-color);
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}

input[type='checkbox']:hover {
    box-shadow: inset 1px 1px 2px var(--shadow-color), inset -1px -1px 2px var(--highlight-color);
}

input[type='checkbox'] {
    padding: 20px;
    position: relative;
    margin: 0 5px;
    width: 50px;
    transition: all .25s ease;
    border-radius: 50px;
}

input[type='checkbox']::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #a3aab9;
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .25s ease;
}

input[type='checkbox']:checked {
    box-shadow: inset 1px 1px 2px var(--shadow-color), inset -1px -1px 2px var(--highlight-color);
}

input[type='checkbox']:checked:hover {
    box-shadow: inset 2px 2px 5px var(--shadow-color), inset -5px -5px 10px var(--highlight-color);
}

input[type='checkbox']:checked::after {
    background-color: #a3aab9;
}

div.footer>div {
    background: var(--base-color);
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 5px;
    text-align: center;
    box-shadow: -5px -5px 20px var(--highlight-color), 5px 5px 20px var(--shadow-color);
}