:root {
    --base-color: #d4e8ed;
    --danger-color: #edb29c;
}

*,
h1,
input[type="text"] {
    font-family: "Helvetica Neue", sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

body {
    background-color: var(--base-color);
}

main {
    border-radius: 50px;
    background-color: var(--base-color);
    box-shadow: 20px 20px 60px #b4c5c9, -20px -20px 60px #f4ffff;
}

button {
    background: var(--base-color);
    border-radius: 50px;
    border: none;
    box-shadow: 20px 20px 60px #b4c5c9, -20px -20px 60px #f4ffff;
}

.action-buttons {
    margin-top: 15px;
}

.action-buttons button {
    position: initial !important;
    margin-right: 15px;
}

#fortune {
    padding: 10px;
    font-size: 20px;
    height: 50px;
}

#plus {
    width: 50px;
    height: 50px;
    padding: 10px;
    font-size: 35px;
    line-height: 20px;
    vertical-align: bottom;
    color: #007f1f;
}

#todoContainer {
    margin: 25px 0;
}

.delete {
    color: var(--danger-color);
    width: 50px;
    height: 50px;
    font-size: 30px;
}

.delete:hover {}

input[type='text'] {
    padding: 10px;
    color: #000;
    margin-left: 50px;
    font-size: 20px;
    font-weight: lighter;
}

input[type=text]:focus {
    /* background-color: #fefefe; */
}

input[type='checkbox'] {
    margin: 10px 0;
}